<div class="title">
    <div class="content">
        <h1>{{title}}</h1>
        <h2>art pieces</h2>
    </div>
</div>


<div class="idk yet">
    <section id="Artworks">
        <a href="#artworks" class="arrowbtn"> </a>
        <div class="art">
            <a href="/artworks/1" class="artbtn"></a>
            <img src="/artwork/17251">
            </a>
        </div>
        <div class="art">
            <a href="/artworks/2" class="artbtn"></a>
            <img src="/artwork/17227">
            </a>
        </div>
        <div class="art">
            <a href="/artworks/3" class="artbtn"></a>
            <img src="https://api.artic.edu/api/v1/artworks/129884
            </a>
        </div>">
        
    </section>